body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* fundo preto */
  margin: 0;
  padding: 0;
  color: #003366; /* azul escuro nos textos */
}

header {
  background-color: #003366; /* cabeçalho azul escuro */
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 40px 30px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}
