body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #1e90ff;
}

main {
  padding: 40px;
}

h1, h2 {
  color: #1e90ff;
}

ul {
  list-style: square;
  padding-left: 20px;
}

section {
  margin-bottom: 50px;
}

.whatsapp {
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.whatsapp:hover {
  background-color: #007acc;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}
